<div class="engine-stuff">
<link rel="stylesheet" href="test.css" type="text/css" media="screen" title="no title" charset="utf-8">

<% content_for :page_title, "AlertWindow Class Reference" %>

blah blah blah, this is content from the engine.
</div>
